<!Doctype html>
<html lang="en">

<head>
  <!-- meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!--font-family-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
    rel="stylesheet">

  <!-- title of site -->
  <title>SineJewel</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- font -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arvo&family=Cookie&family=Great+Vibes&family=Outfit&display=swap');
  </style>

  <!-- For favicon png -->
  <link rel="shortcut icon" type="image/icon" href="images/product-12-1-450x570.jpg" />


  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- alert -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!--font-awesome.min.css-->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <!--linear icon css-->
  <link rel="stylesheet" href="css/linearicons.css">
  <!--animate.css-->
  <link rel="stylesheet" href="css/animate.css">
  <!--owl.carousel.css-->
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <!--bootstrap.min.css-->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- bootsnav -->
  <link rel="stylesheet" href="css/bootsnav.css">
  <!--style.css-->
  <link rel="stylesheet" href="css/style.css">
  <!--responsive.css-->
  <link rel="stylesheet" href="css/responsive.css">

  <!-- dropdown css  -->
  <!-- <link rel="stylesheet" href="css/nice-style.css"> -->
  <link rel="stylesheet" href="css/nice-select-style.css">


  <script>
    var perfEntries = performance.getEntriesByType("navigation");

    if (perfEntries[0].type === "back_forward") {
      location.reload(true);
    }
  </script>

</head>

<body>

  <nav class="container-fluid fixed-top" style="background-color: transparent">
    <div class="row py-3 align-items-center">
      <div class="col-md-3 text-center">
        <a class="fs-1" href="/">sine<span class="whitetxt">Jewel</span>.</a>
      </div>
      <div class="col-md-6 d-flex" style="align-items: center; justify-content: center;">
        <a href="/" class="whitetxt p-2 mx-2"> Home </a>
        <!-- <a href="/shopByCategory" class="whitetxt p-2 mx-2"> Shop </a> -->
        <div class="dropdown p-2 mx-2">
          <a href="" class="dropdown-toggle whitetxt" data-bs-toggle="dropdown" aria-expanded="false"
            data-bs-offset="10,20" id="topProfileImg">
            Shop
          </a>
          <div class="dropdown-menu p-4" style="min-width: 170px !important;">
            <a href="/shop/rings" class="text-dark mb-2 d-block" style="font-size: 1.3rem;">Rings Collection</a>
            <a href="/shop/earrings" class="text-dark mb-2 d-block" style="font-size: 1.3rem;">Earrings Collection</a>
            <a href="/shop/necklaces" class="text-dark mb-2 d-block" style="font-size: 1.3rem;">Necklaces Collection</a>
            <a href="/shop/braceletes" class="text-dark mb-2 d-block" style="font-size: 1.3rem;">Bracelets
              Collection</a>
            <a href="/shop/nosepins" class="text-dark mb-2 d-block" style="font-size: 1.3rem;">Nose Pin Collection</a>
          </div>
        </div>

        <a href="/about" class="whitetxt p-2 mx-2"> About </a>
        <a href="/contact" class="whitetxt p-2 mx-2"> Contact </a>
      </div>
      <div class="col-md-3 text-center">
        <div class="attr-nav">
          <ul>
            <li class="nav-setting mx-3">
              <a class="top-search p-0 d-block" style=" background-color: transparent; margin: 0 5px;">
                <div class="input-group">
                  <input type="text" class="form-control" style="width: 100px;" placeholder="Search" id="navSearchBar">
                  <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
              </a>
            </li>

            <% if( typeof checkLogin !="undefined" ){ %>
              <li class="mx-3 my-2">
                <a href="/cart" class="p-0 cartIcon"><span class="lnr lnr-cart p-0"></span></a>
              </li>
              <% } %>
                <li class="dropdown mx-3 my-2">
                  <% if( typeof checkLogin !="undefined" ){ %>
                    <a href="#" class="dropdown-toggle p-0" data-toggle="dropdown">
                      <small>
                        <i class="fa-regular fa-user"></i>
                      </small>
                    </a>
                    <ul class="dropdown-menu cart-list s-cate">
                      <li class="">
                        <a href="/profile"
                          style="all: unset; cursor: pointer; width: 100%; display: flex; align-items: center; justify-content: space-between;">
                          <span class="">Profile</span>
                          <img src="images/profileImg/<%=navProImg%>" class="img-fluid"
                            style="width: 30px; height: 30px; border-radius: 50%;" alt="">
                        </a>
                      </li>
                      <li class="">
                        <a href="/wishlist"
                          style="all: unset; cursor: pointer; width: 100%; display: flex; align-items: center; justify-content: space-between;">
                          <span>wishlist</span>
                        </a>
                      </li>
                      <li class="">
                        <a href="/orders"
                          style="all: unset; cursor: pointer; width: 100%; display: flex; align-items: center; justify-content: space-between;">
                          <span>Orders</span>
                        </a>
                      </li>
                      <li class="">
                        <p id="logoutBtn"
                          style="all: unset; cursor: pointer; width: 100%; display: flex; align-items: center; justify-content: space-between;">
                          <span>log out</span>
                        </p>
                      </li>
                    </ul>


                    <% } else { %>
                <li class="mx-3 my-2">
                  <p class="p-0 whitetxt" id="loginPupupBtn" data-toggle="modal" data-target="#loginMoalBox"
                    style="cursor: pointer;">Login / Signup</span></p>
                </li>
                <% } %>
                  </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>