<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arvo&family=Cookie&family=Great+Vibes&family=Outfit&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      overflow: hidden;
    }

    .blackBtn {
      background-color: black;
      color: white !important;
      border-radius: 30px;
      width: 150px;
      padding: 15px 0px;
      margin: 5px;
      transition: all 0.6s ease-in-out;
      font-family: "Outfit", sans-serif;
      border: none;
    }

    .blackBtn:hover {
      background-color: white;
      color: black !important;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div style="width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center;">
    <div style="text-align: center;">

      <img src="images/404img.jpg" style="width: 50%; height: auto; margin: auto;" alt=""> <br>
      <a href="/" class="">
        <button class="blackBtn"> Go to Home </button>
      </a>
    </div>
  </div>
</body>

</html>